@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    border: 0;
    padding: 0;
    margin: 0;
}
.header__contacts{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    margin-left: 135px;
    display: flex;
    max-width: 1280px;
     border-bottom: 1px solid black;
     text-align: center;
     width: 100%;
    //  padding: 2rem 4rem;
     justify-content: end;
     &--phone{
padding-top: 13px;
padding-bottom: 13px;
padding-right: 65px;
     }
     &--email{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 65px;
     }
     &--location{
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 65px;
     }
     .header__contacts--phone img{
         margin-right: 8px;
     }
     .header__contacts--email img{
         margin-right: 8px;
     }
     .header__contacts--location img{
         margin-right: 8px;

     }

}
.header__contacts--navigation{
    display: flex;
    margin-left: 135px;
    max-width: 1280px;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 15px;
font-family: 'Montserrat';
font-weight: 300;
&--list{
margin-top: 20px;
}
&-link{
    // padding-top: 40px;
margin-left: 60px;
text-decoration: none;
color: black;

}
&-link:hover{
    padding-bottom: 3px;
    color: #FF3E3E;
    border-bottom: 1px solid #FF3E3E;
}
&-btn{
    background: #FF3E3E;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #fff;
    font-size: 18px;

}
& img{
    height: 55px;
}
}
.main{
    display: flex;
    background-image:url('/img/main photo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    padding-top: 420px;
    font-family: 'Montserrat';

&__text--header{
    font-size: 48px;
    color: #fff;
    max-width: 1380px;
    justify-content: center;
    font-weight: 700;

}
&__text--message :last-child{
padding-bottom: 115px;
}

.text{
    max-width: 1380px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}

}
.main-second{
    padding-top: 60px;
    background: #EFF0F4;


}
.main-second--first-row{
    display: flex;
    max-width: 1420px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 55px;
}
.main-second__service {
    font-family: 'Roboto';
display: flex;
max-width: 380px;
.main-second--subheader{
    color: #FF3E3E;
    font-size: 24px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.main-second--text{
    font-family: 'Roboto';
    font-weight: normal;
    padding-left: 12px;
    font-size: 14px;
}
}
.main-second--second-row{
    display: flex;
    max-width: 1490px;
    align-items: center;
    justify-content: space-around;
}
.card--text{
    padding-top: 35px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    max-width: 240px;
    padding-left: 10px;
}
.card--btn{
    width: 115px;
    height: 35px;
    background: #FF3E3E;
    border-radius: 9px;
    margin-top: 55px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #fff;
    margin-left: 20px;
}
.main-second__cart{
    background: #fff;
    margin-bottom: 60px;
    border-radius: 8px;
}
.about{
    display: flex;
    margin-top: 70px;

    &--img{
        width: 750px;
        background: #FFDFDF;
        border-radius: 7px;
    }
}

.about__all{
    margin-top: 135px;
    margin-left: 150px;
    font-family: "Roboto";
    max-width: 400px;
    &__header{
        font-size: 43px;
        padding-bottom: 40px;
        border-bottom: 1px solid #000;
    }

}
.about__text{
    padding-top: 20px;
    margin-bottom: 20px;
}
.about__link{
    color:  #14008E;
text-decoration: none;
}
.form{
    font-family: 'Roboto';

    background: #eff0f4;
    margin-top: 70px;
    &__header{
        font-size: 43px;
        padding-top: 55px;
        padding-bottom: 80px;
        margin-left: 135px;

    }
    &__input__block{
display: flex;
justify-content: space-around;
        max-width: 1280px;
        margin-left: 130px;
    }
}
.form__input__block input{
    padding-left: 5px;
    padding-bottom: 15px;
height: 30px;
width: 250px;
border-bottom: 2px solid black;
margin-bottom: 70px;
background: transparent;
font-size: 20px;
}
.form_btn{
    color:rgba(0, 0, 0, 0.6);
    font-family: 'Russo One';
    width: 220px;
    height: 50px;
    border: solid 2px black;
    border-radius: 8px;
}
.form__input__block input:focus{
outline: none;
}
.footer__block{
    display: flex;
    margin-top: 80px;
    max-width: 1300px;
    justify-content: space-around;
    margin-left: 135px;
    font-family: 'Montserrat';
}
.logo{
    height: 50px;
}
ul{
    list-style-type: none;
}
.footer__menu--list--element{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 5px;
}
.footer--link{
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.footer__event--element{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 5px;
}
.footer__event--link{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.footer--email{
    font-weight: 700;
}   
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: transparent;
    // min-width: 200px;
}
.dropdown-child a {
    color: black;
    padding-top: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.lang--link{
    text-decoration: none;
    color: black;
}
.footer__media{
    font-family: 'Montserrat';
    display: flex;
    max-width: 1520px;
    justify-content: space-around;
    margin-left: 50px;
    padding-bottom: 70px;
}
.footer--btn{
    font-family: 'Montserrat';
    font-weight: 700;
    background: #000;
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 8px;
}
.rights{
    font-size: 14px;
}
.footer__media--pict{
    margin-left: 140px;
    display: flex;
    align-items: center;
}
.footer__media--pict--pict{
padding-right: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 70px;
&__aboutUS{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;

    margin-left: 2px;
    width: 640px;
    height: 60px;
    background: rgb(255 223 233);
}
}
.buttons__aboutUS a {
    color: #000;
    text-decoration: none;
}
#first--btn{
    background: #FF3E3E;

}

#first--btn a{
    color: #fff;

}
.about__second{
    display: flex;
    margin-top: 80px;
    &--block{
        font-family: 'Roboto';
        margin-top: 180px;
        // max-width: 700px;
        margin-left: 160px;
        margin-right: 100px;
    }
    &--block--header{
        font-size: 43px;
        font-weight: 500;
        padding-bottom: 80px;
    }
}
#second--btn{
    background: #FF3E3E;

}
#second--btn a{
    color: #fff;
}
.service{
    font-family: 'Roboto';
    margin-left: 130px;
    max-width: 1280px;
    &__block{
        margin-bottom: 70px;
    }
}
.service--header{
    color: rgba(81, 81, 81, 1);
    margin-top: 70px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 43px;
    margin-bottom: 40px;

}
.service__block--question{
    display: flex;
    align-items: center;
    &--fst-sign{
        font-size: 80px;
        border-left: 4px solid #FF3E3E;
        color: #FF3E3E;
        font-weight: normal;
        padding-left: 5px;



    }

}
#greyHeader{
    color: rgb(152 152 152);
    border-left: 4px solid rgb(152 152 152);
}
.main--contacts{
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    margin-top: 200px;
}
.form--contact{
    margin-left: 140px;
}

.header--contact{
    font-size: 50px;
    // margin-bottom: 45px;
}
.subheader--contact{
    font-weight: 300;
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.contact__name{
    font-family: 'Montserrat';
    width: 390px;
    height: 60px;
    border-bottom:  rgba(124, 124, 124, 1) 2px solid;
    margin-right: 20px;
    font-weight: 300;
    font-size: 16px;
    color: rgba(124, 124, 124, 1);
    outline: none;

}
.contact__buttons{
    display: flex;
    max-width: 700px;
    justify-content: space-around;
    margin-top: 50px;
}
.contact__message{
    width: 800px;
    border-bottom:  rgba(124, 124, 124, 1) 2px solid;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Montserrat';
    color: rgba(124, 124, 124, 1);
    outline: none;padding-bottom: 10px;
}
.contact__attach--file--btn{
    width: 240px;
    height: 60px;
    background: #fff;
    border: 3px dashed black;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat';
}
.block__contacts--subheader{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: rgb(152 152 152);
    margin-top: 40px;
    margin-bottom: 20px;
}
.block__contacts--email{
    margin-top: 20px;
}
.block__contacts--email a{
    color: rgba(0, 102, 204, 1);
    text-decoration: none;

}
 .header__contacts--navigation-btn:hover{
     transform: scale(1.2);
     transition:0.5s all ease;
      background:#b93333;
 }
 .card--btn:hover{
    transform: scale(1.2);
    transition:0.5s all ease;
     background:#b93333;
     cursor: pointer;

 }
 .form_btn:hover{
     background: #000;
     color: #fff;
     transform: scale(1.2);
     transition:0.5s all ease;
     cursor: pointer;
 }
 .footer--btn:hover{
  background:transparent;
  color: #000;
  border: 2px solid black;
  transform: scale(1.2);
  transition:0.5s all ease;
  cursor: pointer;
 }
 .contact__attach--file--btn:hover{
    transform: scale(1.2);
    transition:0.5s all ease;
    cursor: pointer;
    border: 1px solid black;
    background: #000;
    color :#fff;

 }


